<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="The official musings of Kevin Rohrbaugh.">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  {% comment %}
    Icons
  {% endcomment %}
  <link rel="apple-touch-icon" href="{% asset touchicon-152.png @path %}">
  <link rel="icon" sizes="16x16" href="{% asset favicon-16.png @path %}">
  <link rel="icon" sizes="32x32" href="{% asset favicon-32.png @path %}">
  <link rel="icon" sizes="48x48" href="{% asset favicon-48.png @path %}">
  <link rel="icon" sizes="64x64" href="{% asset favicon-64.png @path %}">
  <link rel="icon" sizes="128x128" href="{% asset favicon-128.png @path %}">

  {% comment %}
    Styles
  {% endcomment %}
  {% asset site.css %}
</head>
