@import "vendor/lanyon";
@import "vendor/monosocial";

.masthead-title {
  position: relative;
}

.logo {
  position: absolute;
  top: -55px;
  right: 0;
  width: 128px;
  height: 128px;
  margin: 0 0.5em 0 0;
}

.symbol {
  font-size: 2rem;

  &:hover {
    text-decoration: none;
  }
}

.profile {
  width: 50%;
  margin: 0 auto 1em auto;
}