@import "vendor/lanyon";
@import "vendor/monosocial";
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

.masthead-title {
  position: relative;
}

.logo {
  position: absolute;
  top: -60px;
  right: -64px;
  width: 128px;
  height: 128px;
  margin: 0 0.5rem 0 0;
}
@media (min-width: 38rem) {
  .logo {
    right: 0;
  }
}

.symbol {
  font-size: 2rem;

  &:hover {
    text-decoration: none;
  }
}

.about-headshot{
  width: 50%;
  margin: 0 auto 1em auto;
}

code, pre {
  font-family: Inconsolata, Menlo, Monaco, "Courier New", monospace;
}
pre {
  white-space: pre;
  word-break: inherit;
  word-wrap: inherit;
  overflow-x: auto;
}
